/* :root {
    --logoColor: #0181bd;
    --vert: green;
    --jaune: yellow;
    --primaryColor: #00eaff;
    --primaryHover: hsl(185, 92%, 41%);
    --secondaryColor: rgb(150, 162, 188);
    --paragraphColor: rgb(127, 127, 175);
    --BgColor: #031a30;
    --formColor: rgb(2, 15, 29);
    --projectCardColor: #072340;
    --textColor: #dae4fb;
    --headerHeight: 3rem;
  } */


/* THEME CLAIRE */
:root {
    --logoColor: #0181bd;
    --IconColor: #014d70;
    --vert: green;
    --jaune: #FF9800;
    --primaryColor: green;
    --primaryHover:green ;
    --secondaryColor: rgb(150, 162, 188);
    --paragraphColor: rgb(127, 127, 175);
    --textColor: #031a30;
    --formColor: rgb(2, 15, 29);
    --projectCardColor: #0c2642;
    --BgColor: #f3f4f3;
    --headerHeight: 3rem;
}



/* DEBUT */
body {
    background-color: var(--BgColor);
    color: var(--textColor);
}

.nav-home-img {
    height: 100%;
    overflow: hidden;
    display: flex;
    display: MS-flex;
    align-items: baseline;
}
.section {
    padding-top: 5rem;
}


/* NAV */
.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0px 5px 21px rgba(25, 43, 83, 0.541);
}
.navbar-brand {
    padding: 0px;
}

.logo {
    height: 40px;
}
.logo img {
    height: 100%;
    width: auto;
}

.dropdown-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.dropdown-item:hover {
    background-color: var(--projectCardColor);
    color: var(--secondaryColor);
    font-style: italic;
}
.dropdown-menu {
    background-color: #d8d6d6e1;
    padding: 2rem 0;
    font-weight: 400;

}



/* SLIDER */
.carousel-caption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-indicators {
    bottom: 15rem;

}
#carouselExampleIndicators {
    bottom: 5rem;
}

.slide-img {
    position: relative;
}

.slide-img::after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #010010;
    opacity: 0.5;

}


.session {
    margin: 7rem 2.5rem;
}
.big-title {
    text-align: center;
    margin: 70px 0px;
    color: #014d70;
    font-weight: bold;
}
.home-title {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
}
.home-description {
    font-size: 1.5rem;
}
.hook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

}
.hook-content{
    width: 75%;
    margin: auto;
}
.hook-btn-grp {
    margin-top: 1rem;
}
.hook-tag {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.hook-description {
    font-size: 1rem;
    text-align: center;
}
.hook-description2 a{
    color: green;
}
.hook-content .big-title {
    margin-bottom: 0.4rem;
}

img {
    width: 100%;
    height: auto;
}
.session-content {
    margin-bottom: 50px;
    display: flex;
}


/* BOX IMPORTES DE MAIN PORTEFOLIO */

.boxes {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
}
.boxes .box {
    background: var(--projectCardColor);
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 2px #010a149a;
    box-shadow: 0 2px 2px #010a149a;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
}
.boxes .box .webContent .wrapperText {
    height: 17rem;
    padding: 1rem 1.3rem 0.5rem 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;

}

.boxes .box:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.card-title {
    font-weight: bold;
    color: var(--BgColor);
}


/* BOUTTONS */

.btn-right {
    width: 99%;
    display: flex;
    justify-content: right;
    padding-bottom: 1rem;
}

.btn-right .btn {
    background-color: #014d70;
    border: none;
}

.btn-right .btn:hover {
    background-color: #1a5c7a;
    color: rgba(245, 245, 245, 0.89);
    border: none;
    font-style: italic;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* SECTION FORMATION */

.formations-boxes {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.formations-boxes .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem 1rem 2rem;
    /* height: 17rem; */
    background: white;
    border: none;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 2px #010a149a;
    box-shadow: 0 2px 2px #010a149a;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
}

.formations-boxes .box:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.icone-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.formation-card-title {
    font-weight: bold;
    color: #014d70;
}
.boxes .box .wrapperText p {
    color: var(--secondaryColor);
    font-weight: 600;
}
.card-text {
    margin-bottom: 1.5rem !important ;
}

.icon {
    display: flex;
    padding: 1rem;
    border-radius: 50%;
    margin-right: 15px;
    background-color: var(--IconColor);

}

i {
    color: var(--BgColor);
}


/* FORM & CONTACT */

.adress-group {
    margin-top: 25px;
    text-align: right;
}

.contact-bloc {
    justify-content: center;
}

.contact-bloc-content {
    display: flex;
    /* border: 2px solid rgb(3, 3, 41); */
    width: fit-content;
    /* padding: 50px; */
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
}

.contact-bloc-part {
    padding: 40px 40px 20px 40px;
}

.adress {
    /* color: var(--textColor); */
    color: #75b3f0;
    background-color: #0c3157;
    /* background-color: rgba(184, 184, 184, 0.336); */
    font-weight: 600;
}

.adress .adress-group div strong {

    font-weight: bolder;
}

.form {
    color: rgb(219, 219, 219);
    background-color: var(--formColor);
}

.contact-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    background-color: transparent;
    color: var(--secondaryColor);

    border: none;
    border-left: 1px solid rgb(219, 219, 219);
    border-bottom: 2px solid rgb(219, 219, 219);
    border-top-left-radius: 5px;

}

.contact-label {
    margin-top: 20px;
}

.contact-btn-div {
    display: flex;
    justify-content: right;
    padding-top: 20px;
}

.contact-btn {
    background-color: #0c3157;
    color: #3096f0;
    font-weight: bold;
}

.contact-btn:hover {
    background-color: #143d66;
    color: #236eaf;
    transition: all 1s ease-out;
}


















.sommaireText{
font-size: 1em;
}
.titleText{
    color: green;
    display: inline;
    font-size: 1.5rem;
    font-weight: 400;
}
.titleNumber{
    font-size: 1.5rem;
    font-weight: 400;
}



/* SERVICES PAGE */

.service-sommaire {
    /* margin-bottom: 4rem; */
}

.service-sommaire div a {
    color: var(--textColor);
    text-decoration: none;
    font-weight: 500;
    font-style: italic;
    font-size: 1.2rem;
}

.service-sommaire div a:hover {
    color: var(--primaryColor);
    /* text-decoration: underline; */

}

.service-sommaire div a .sommaireText:hover {

    text-decoration: underline;

}

.service-links-group a,
.links {
    margin-left: 15px;
    color: var(--primaryColor);
    font-weight: 500;
}

.service-links-group a,
.links:hover {
    margin-left: 15px;
    color: var(--primaryHover);
    font-style: italic;
}


.titleNumber {
    color: var(--primaryColor);
    margin: 0 0.6rem;
    font-weight: 600;
}

li::marker{
    /* color: var(--jaune); */
}
.slogan{
    margin-top: 1.2rem;
    color: var(--vert);
    text-align: center;
    font-style: italic;
}
/* DEVIS */

.devis-home{
margin-top: 10rem;
}

.devis-form {
    /* background-color: red; */
    width: 60%;
    margin: auto;
    padding: 3rem;
    border-radius: 20px;
}


/* ABOUT */

.about-box2 {
    padding: 2rem 2rem;
}

.about-box2 .wrapperText p {
    color: var(--secondaryColor);
    font-weight: 600;
    text-align: justify;
}

/*.about-box1 {
     background: var(--projectCardColor);
    background: transparent;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 2px #010a149a;
    box-shadow: 0 2px 2px #010a149a;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
  }*/

/* about */
/* .about-box1 .wrapperText {
    height: 17rem;
    padding: 2rem 5rem;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */

/* .about-box1 .wrapperText .card-title {
    display: block;
    padding-bottom: 7rem;
     text-align: left;
    color: var(--textColor);
  } */

.about-box1 .wrapperText p {
    color: var(--secondaryColor);
    font-weight: 600;
    text-align: justify;
}

.about-box2 {

    background: var(--projectCardColor);
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 2px #010a149a;
    box-shadow: 0 2px 2px #010a149a;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
}



/* FOOTER */

footer{
    margin-top: 3rem;
    background-color: var(--textColor);

    padding: 3rem;
}
.footer-bottom{
    margin-top: 3rem;
    color: white;
}
.footer-container{
    display: flex;
    justify-content: space-around;

}
.footer-logo{
    /* padding: 1rem; */
    width: 4rem;

}
.footer-top{
    margin-bottom: 2rem;
    padding-left: 3rem;
    display: flex;
    color: white;
    align-items: center;
}
.footer-title{
    color: var(--vert);
    font-size: 1rem;
    margin-bottom: 15px;
}
.footer-ul{
    margin: 0px;
    padding: 0px;
    border-left: 2px solid var(--jaune);
    padding-left: 15px;
}
.footer-ul li a{
    color: white;
    font-size: 0.8rem;
}
.footer-ul li a:hover{
    color: rgb(255, 187, 0);
}
.footer-col{
    padding: 1rem;
}









/* ANIMATIONS */

@-webkit-keyframes moveLine {
    0% {
        left: -20px;
    }

    100% {
        left: 90%;
    }
}

@keyframes moveLine {
    0% {
        left: -20px;
    }

    100% {
        left: 90%;
    }
}



/* CARDS */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px 15px;

}
.card {
    background-color: var(--projectCardColor);
    width: 18rem;
}

.card-btn {
    background-color: var(--primaryColor);
    color: var(--BgColor);
}

.card-btn:hover {
    background-color: var(--primaryHover);
}


































/* formations */
.formation-img{
opacity: 0.5;
}
.formation-elt .service-sommaire{
    /* border: 5px solid green; */
    width: 70%;
    margin: 5rem auto;
}
.lien-formation{
    height: 50%;
    /* padding-top: 5rem; */
    text-align: center;
    font-size: x-large;
}
.lien-formation a{
    color: green;
}
.lien-formation a:hover{
    font-style: italic;
}



/*
.formation-elt .boxes {
    display: -ms-grid;
    display: grid;
    gap: 1rem;
  }

  .formation-elt .boxes .box {
    padding: 1rem;
    background: var(--projectCardColor);
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 2px #010a149a;
    box-shadow: 0 2px 2px #010a149a;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .formation-elt .boxes .box .box_btn {
   display: flex;
   justify-content: center;
   border: 1px solid #00eaff;
   padding: 5px;
   border-radius: 6px;
   color: #00eaff;
  }
  .formation-elt .boxes .box .box_btn:hover {
   background-color: #00eaff34;
  }

  .formation-elt .boxes .box .wrapperLink {
    display: block;
    color: var(--primaryColor);
    font-size: 1.5rem;
    margin: 1rem 0;
    float: right;
    cursor: pointer;
  }

  .formation-elt .boxes .box .wrapperText {

    padding: 0.5rem;
  }

  .formation-elt .boxes .box .wrapperText .title {
    display: block;
    padding: 10px 0;
    text-align: right;
    color: var(--textColor);
  }

  .formation-elt .boxes .box .wrapperText p {
    color: var(--secondaryColor);
    font-weight: 600;
  }

  .formation-elt .boxes .box .wrapperText .software {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
    margin-left: auto;
  }

  .formation-elt .boxes .box .webContent div .software span {
    color: var(--paragraphColor);
    margin: 0 10px;
    font-weight: 600;
  }

  .formation-elt .boxes .box .webContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .formation-elt .boxes .box .webContent .webContentTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .formation-elt .boxes .box .webContent .webContentTop .Indicator {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: crimson;
    background: yellowgreen;
    margin-left: 1rem;
    position: relative;
  }

  .formation-elt .boxes .box .webContent .webContentTop .Indicator::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: 2px solid crimson;
    -webkit-transform: translate(-4.5px, -4.5px);
    transform: translate(-4.5px, -4.5px);
    -webkit-animation: indicator 0.5s ease-in-out infinite;
    animation: indicator 0.5s ease-in-out infinite;
  }

  .formation-elt .boxes .box .webContent .webContentTop .live {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 0.6rem;
    color: crimson;
  }

  .formation-elt .boxes .box .webContent .webContentTop .live span {
    font-weight: 800;
  }

  @-webkit-keyframes indicator {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes indicator {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .formation-elt .boxes .box:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  } */



/* RESPONSIVE */














    /* 1 Tablette large (entre 992px et 1199px) */
@media (max-width: 1199px) {

    .boxes {
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    }


#carouselExampleIndicators {
    bottom: 0rem;
}
.carousel-indicators {
    bottom: 12rem;

}
.session {
    margin: 3rem 2.5rem;
}
.hook{
    min-height: auto;

}

  }





/* 2 Tablette portrait (entre 768px et 991px) */
  @media (max-width: 991px) {

    .nav-home-img {
        height: auto;
    }
    .boxes {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }

    .big-title{
          font-size: 2.2rem;
          margin: 0px 0px 40px 0px;
        }
        .hook-content{
            width: 80%;
        }
        .hook-content .big-title {
            margin-top: 4rem;
        }
        .home-title {
            font-size: 2rem;
        }
        .home-description {
            font-size: 1.3rem;
            margin-bottom: 0.3rem;
        }
        #carouselExampleIndicators {
            bottom: -2rem;
        }
        .carousel-indicators {
            bottom: 10rem;

        }
        .session {
            margin: 2rem;
        }
        .formations-boxes {
            grid-template-columns: 1fr 1fr;
            margin-bottom: 5rem;
        }
        .adress{
            font-size: 15px;
        }

  }




  /* 3 Mobile paysage (entre 576px et 767px) */
  @media (max-width: 767px) {
    .session {
        margin: 1rem 2rem;
    }
    .hook-content{
        width: 90%;
    }
    .hook-content .big-title {
        margin-top: 2rem;
    }
.btn{
    font-size: 15px;
}
      .big-title{
        font-size: 2rem;
        margin: 35px 0px;
      }
      .home-title {
          font-size: 1.5rem;
          margin-bottom: 0px;
      }
      .home-description {
          font-size: 1.1rem;
          margin-bottom: 0.2rem;
      }
      #carouselExampleIndicators {
          bottom: -2rem;
      }
      .carousel-indicators {
          bottom: 5rem;

      }
      .carousel-caption .hook-btn-grp{
        margin-top: 0.6rem;
      }
      .contact-bloc-content{
        display: block;
        width: 90%;
      }
      .adress .adress-group div{
        text-align: left;
      }
  }


    /* 4 Mobile petit écran (moins de 576px) */
  @media (max-width: 575px) {
    .big-title{

          color: red;
      }
      .carousel-indicators {
        bottom: 2rem;

    }
    .big-title{
        font-size: 2rem;
        margin: 35px 0px;
      }
      .home-title {
          font-size: 1.1rem;
      }

      .home-description {
          font-size: 1rem;
          margin-bottom: 0.3rem;
      }
      .formations-boxes {
        grid-template-columns: 1fr;
        -ms-grid-columns: (1fr);
    }
    .boxes {
display: block;
    }
    .box{
        margin-bottom: 2rem;
    }
  }
